doctype html
html(lang="en")
  head
    title All Tasks
  
  body
    h1 All Tasks
    ul
      each task in tasks
        li
          a(href=`/tasks/${task._id}`)= task.title
          |  (#{task.completed ? "completed" : "not completed"})